.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: scale(0);
}

/* @import url("!style!css!sass!../node_modules/foundation-sites/dist/foundation.css") */
